*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
@media screen and (max-width:325px)
{
    main 
    { 
        max-width: 320px
    }
    main section.titre 
    { 
        min-width: 35%
    }
    main section.infos 
    {
        max-width: 60%
    }
    section.infos article.formation 
    { 
    width: 100%;
     display: flex; 
     flex-direction: column; 
     flex-wrap: nowrap;
     padding-left: 50px
    }
  
}
body 
{ 
    overflow-x: hidden
}

header.title
{ 

    display: flex; 
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    height: 150px;
    width: 100%; 
    min-width: 320px
}
header.title h1 
{
    color: white;
    margin: auto; 
    text-align: center;
    font-size: 5vh
}
main 
{ 
        width: 100%; 
        display: flex; 
        flex-wrap: nowrap;
        justify-content: space-between
        
}
main section.titre 
{ 
    flex-direction: column; 
    background-color: orangered;  
    color: white; 
    height: 190vh; 
    align-items: center; 
    display: flex; 
    flex-wrap: nowrap;
    width: 25%; 
 
}
main section.titre h2
{
    text-align: center; 
    font-weight: bold; 
    font-size: 12vh; 
    border: solid white 2vh; 
    padding: 25px; 
   
 }
 main section.titre h3 
 { 
     color: white; 
     margin: 10px 0 0px 0px; 
     text-align: center; 
     font-size: 3vh; 
 }
 main section.titre article.contact 
 {   
     align-items: center; 
     height: 123.5vh;
    padding: 0 55px;
     margin-top: 60px;
     display: flex; 
     flex-direction: column; 
     flex-wrap: nowrap;
    justify-content: space-between; 
    width: 100%
 }

 main section.titre article.contact h4 
 { 
     color: white; 
     text-align: center;   
     font-size: 2vh 
 }

 main section.titre article.contact p 
 { 
     color: black; 
     text-align: center; 
     font-size: 1.8vh; 
     width: 100%

     
 }

 section.infos 
 { 
    width: 70%;
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap;
 }

 section.infos header
 { 
     width: 100%;
     display: flex; 
     flex-direction: row; 
     align-content: center; 
     align-items: center; 
     margin-top: 20px; 
 }
 
 section.infos header figure i
 { 
     color: white;
     background-color: orangered;  
     font-size: 4vh; 
     border-radius: 50px; 
     margin: 0 10px 0 0;
     padding: 15px
 }
 section.infos header figure i.far.fa-lightbulb 
 { 
     padding : 15.5px 20px
 }
 section.infos header h5 
 { 
     font-size: 3vh
 }
 section.infos article.formation
 {
     width: 100%;
     display: flex; 
     flex-direction: column; 
     flex-wrap: nowrap;
     padding-left: 72px
 }
 
 section.infos article.formation :nth-child(even)
 { 
     font-weight: bold; 
     font-size: 2vh
 }
 section.infos article.formation :nth-child(2) 
 { 
     color: orangered; 
     font-weight: 300;
     font-size: 2vh
 }
 section.infos article.formation :nth-child(odd) 
{ 
    color: orangered;
    font-size: 2vh
}
section.infos article.formation :first-child
 { 
    font-weight: bold; 
    color: black;
    font-size: 2vh
 }
 article.I2H 
 { 
     width: 100%;
     display: flex; 
     flex-wrap: nowrap;
     flex-direction: row;
     align-items: center; 
     margin: 5px 0 20px 0
 }
 article.I2H div.date
 { 

     font-size: 2.5vh; 
     font-weight: bold; 
     padding: 9px
    
 }

 article.I2H div.texte 
 { 
     margin-left: 10px; 
     font-size: 2vh
 }
 article.I2H div.texte :first-child 
 { 
     font-weight: bold; 
     font-size: 2vh
 }
 article.I2H div.texte :nth-child(2)
 { 
     color: orangered; 
     font-size: 2vh
 }
 article.alm
 { 
     display: flex; 
     flex-wrap: nowrap;
     flex-direction: row;
     align-items: center; 
     margin: 5px 0 20px 0; 
     width: 100%
 }
 article.alm div.date
 { 

    font-size: 2.5vh; 
    font-weight: bold; 
    padding: 9px
   
 }
 article.alm div.texte 
 { 
     margin-left: 10px; 
     font-size: 2vh
 }
 article.alm div.texte :first-child 
 { 
     font-weight: bold
 }
 article.alm div.texte :nth-child(2)
 { 
     color: orangered
 }
 article.titra
 { 
     display: flex; 
     flex-wrap: nowrap;
     flex-direction: row;
     align-items: center; 
     margin: 5px 0 20px 0; 
     width: 100%; 
 }
 article.titra div.date
 { 

    font-size: 2.5vh; 
    font-weight: bold; 
    padding: 9px
   
 }
 article.titra div.texte 
 { 
     margin-left: 10px; 
     font-size: 2vh
 }
 article.titra div.texte :first-child 
 { 
     font-weight: bold
 }
 article.titra div.texte :nth-child(2)
 { 
     color: orangered
 }
 article.unjourjeserai
 { 
     display: flex; 
     flex-wrap: nowrap;
     flex-direction: row;
     align-items: center; 
     margin: 5px 0 20px 0; 
     width: 100%; 
 
    }
 article.unjourjeserai div.date
 { 

    font-size: 2.5vh; 
    font-weight: bold; 
    padding: 9px
   
 }
 article.unjourjeserai div.texte 
 { 
     margin-left: 10px;
     font-size: 2vh
 }
 article.unjourjeserai div.texte :first-child 
 { 
     font-weight: bold
 }
 article.unjourjeserai div.texte :nth-child(2)
 { 
     color: orangered
 }
 h6
 { 
     font-size: 2.5vh; 
     margin: 15px 0 10px 74px
 }
 article.dev 
 { 
     display: flex; 
     flex-wrap: nowrap;
     flex-direction: row; 
     margin-left: 74px; 
     justify-content: space-between; 
     width: 100%; 
     padding-right: 2px
 }
 article.dev div.dev-gauche
  { 
      display: flex; 
      flex-direction: column
  }
  article.dev div.dev-droite
  { 
      display: flex; 
      flex-direction: column
  }
 article.dev p 
 { 
     font-size: 2vh
 }
 div.dev-gauche 
 { 
     padding-right: 10px
 }

 div.barre-html
 { 
     width: 233px; 
     height: 20px;
     background-color: lightgray; 
 }
 div.barre-html:before 
 { 
    content: '';
    display: block;
    width: 220px;
    height: 20px;
    background:orangered;
 }
 div.barre-css
 { 
     width: 233px; 
     height: 20px;
     background-color: lightgray; 
 }
 div.barre-css:before 
 { 
    content: '';
    display: block;
    position: absolute;
    width: 112px;
    height: 20px;
    background:orangered;
 }

 div.barre-JS
 { 
     width: 233px; 
     height: 20px;
     background-color: lightgray; 
 }
 div.barre-JS:before 
 { 
    content: '';
    display: block;
    position: absolute;
    width:  58px;
    height: 20px;
    background:orangered;
 }
 div.barre-ajax
 { 
     width: 233px; 
     height: 20px;
     background-color: lightgray; 
 }
 div.barre-ajax:before 
 { 
    content: '';
    display: block;
    position: absolute;
    width:  58px;
    height: 20px;
    background:orangered;
 }

 div.barre-angular
 { 
     width: 233px; 
     height: 20px;
     background-color: lightgray; 
 }
 div.barre-angular:before 
 { 
    content: '';
    display: block;
    position: absolute;
    width:  58px;
    height: 20px;
    background:orangered;
 }

 div.barre-php
 { 
     width: 233px; 
     height: 20px;
     background-color: lightgray; 
 }
 div.barre-php:before 
 { 
    content: '';
    display: block;
    position: absolute;
    width:  58px;
    height: 20px;
    background:orangered;
 }

 div.barre-sql
 { 
     width: 233px; 
     height: 20px;
     background-color: lightgray; 
 }
 div.barre-sql:before 
 { 
    content: '';
    display: block;
    position: absolute;
    width:  58px;
    height: 20px;
    background:orangered;
 }
article + h6
 { 
     margin-bottom: 10px; 
     margin-top: 40px
 }
 article.cms p 
 { 
     font-size: 2vh
 }
 article.cms
 { 
     margin-left: 125px;
     display: flex; 
     flex-direction: row; 
     flex-wrap: nowrap; 
     justify-content: space-between;
     padding-bottom: 10px; 
     width: 100%
 }
 div.barre-drupal
 { 
     width: 233px; 
     height: 20px;
     background-color: lightgray; 
 }
 div.barre-drupal:before 
 { 
    content: '';
    display: block;
    position: absolute;
    width:  210px;
    height: 20px;
    background:orangered;
 }


 div.barre-wordpress
 { 
     width: 233px; 
     height: 20px;
     background-color: lightgray; 
 }
 div.barre-wordpress:before 
 { 
    content: '';
    display: block;
    position: absolute;
    width:  100px;
    height: 20px;
    background:orangered;
 }
 article.design p 
 { 
     font-size: 2vh
 }
 article.design
 { 
     margin-left: 125px;
     display: flex; 
     flex-direction: row; 
     flex-wrap: nowrap; 
     align-content: center;
     padding-bottom: 10px; 
     justify-content: space-between; 
     width: 100%
 }

 div.barre-ps
 { 
     width: 233px; 
     height: 20px;
     background-color: lightgray; 
 }
 div.barre-ps:before 
 { 
    content: '';
    display: block;
    position: absolute;
    width:  112px;
    height: 20px;
    background:orangered;
 }
 div.barre-mockups
 { 
     width: 233px; 
     height: 20px;
     background-color: lightgray; 
 }
 div.barre-mockups:before 
 { 
    content: '';
    display: block;
    position: absolute;
    width:  160px;
    height: 20px;
    background:orangered;
 }
 article.langues p 
 { 
     font-size: 2vh
 }
 article.langues
 { 
     margin-left: 125px;
     display: flex; 
     flex-direction: row; 
     flex-wrap: nowrap; 
     align-content: center;
    justify-content: space-between;
     padding-bottom: 10px; 
     width: 100%
 }

 div.barre-anglais
 { 
     width: 233px; 
     height: 20px;
     background-color: lightgray; 
 }
 div.barre-anglais:before 
 { 
    content: '';
    display: block;
    position: absolute;
    width:  223px;
    height: 20px;
    background:orangered;
 }
 div.barre-espagnol
 { 
     width: 233px; 
     height: 20px;
     background-color: lightgray; 
 }
 div.barre-espagnol:before 
 { 
    content: '';
    display: block;
    position: absolute;
    width:  112px;
    height: 20px;
    background:orangered;
 }
 div.barre-italien
 { 
     width: 233px; 
     height: 20px;
     background-color: lightgray; 
 }
 div.barre-italien:before 
 { 
    content: '';
    display: block;
    position: absolute;
    width:  90px;
    height: 20px;
    background:orangered;
 }


